<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encuesta sintomática del covid-19
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encuesta</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="logForm()">
    <ion-list>
      <ion-radio-group [(ngModel)]="todo.genero" name="genero" value="biff">
        <ion-list-header>
          <ion-label>Género</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio slot="start" value="M"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Femenino</ion-label>
          <ion-radio slot="start" value="F"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>
          Seleccione su pais de residencia
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-select [(ngModel)]="todo.pais" name="pais" placeholder="Seleccionar">
          <ion-select-option value="Colombia">Colombia</ion-select-option>
          <ion-select-option value="Venezuela">Venezuela</ion-select-option>
          <ion-select-option value="Brasil">Brasil</ion-select-option>
          <ion-select-option value="Perú">Perú</ion-select-option>
          <ion-select-option value="Ecuador">Ecuador</ion-select-option>
          <ion-select-option value="Argentina">Argentina</ion-select-option>
          <ion-select-option value="Chile">Chile</ion-select-option>
          <ion-select-option value="Bolivia">Bolivia</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    Edad:

    <ion-input [(ngModel)]="todo.edad" name="edad" type="number"></ion-input>

    Cual de los siguientes síntomas a tenido usted en los últimos dos meses:

    <br>

    <ion-checkbox [(ngModel)]="todo.tosSeca" name="tosSeca"></ion-checkbox>
    <ion-label>Tos seca</ion-label>

    <br>

    <ion-checkbox [(ngModel)]="todo.tosFlema" name="tosFlema"></ion-checkbox>
    <ion-label>Tos con flema</ion-label>

    <br>

    <ion-checkbox [(ngModel)]="todo.difRespirar" name="difRespirar"></ion-checkbox>
    <ion-label>Dificultad para respirar</ion-label>

    <br>

    <ion-checkbox [(ngModel)]="todo.pulmones" name="pulmones"></ion-checkbox>
    <ion-label>Dolor en los pulmones</ion-label>

    <br>

    <ion-checkbox [(ngModel)]="todo.fiebre" name="fiebre"></ion-checkbox>
    <ion-label>Fiebre</ion-label>

    <br>

    <ion-checkbox [(ngModel)]="todo.sentidos" name="sentidos"></ion-checkbox>
    <ion-label>Pérdida del gusto y/o olfato</ion-label>

    <br>

    <ion-toggle [(ngModel)]="todo.sistencia" name="asistencia"></ion-toggle>
    <ion-label>¿Ha asistido a centros médicos?</ion-label>

    <br>

    <ion-list>
      <ion-radio-group [(ngModel)]="todo.p1" name="p1" value="biff">
        <ion-list-header>
          <ion-label>¿Ha tenido contacto con un extranjero los últimos meses?</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" value="S"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="N"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-radio-group [(ngModel)]="todo.p2" name="p2" value="biff">
        <ion-list-header>
          <ion-label>¿Perteneces a algún grupo de riesgo?
             (> 60 años, hipertensión, diabetes, cardiopatías, patología pulmonar,
              enfermedad renal crónica, inmunosupresión, patología hepática, cancer ...)
            </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" value="S"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="N"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <br>

    Describa brevemente como ha sido su aislamiento en esta cuarentena
    <ion-textarea [(ngModel)]="todo.area" name="area"></ion-textarea>

    <br>

    <ion-button  type="submit" block>Enviar</ion-button>

  </form>

</ion-content>